<script src="{{jsFunc}}"></script>

<h1> Edit the book!</h1>

<form class="book-edit-form" id="book-edit-form" autocomplete="off">
    <fieldset class="book-edit-field">
        <legend>Book Info</legend>
        <div class="book-edit-single-info">
            <label for="book-title">Book:</label>
            <textarea  id="book-title" name="book-title" cols="" rows="4">{{titleBook}}</textarea>
        </div>
        <div class="book-edit-single-info">
            <label for="book-author">Author:</label>
            <input type="text" id="book-author" name="book-author" value="{{author}}">
        </div>
        <div class="book-edit-single-info">
            <label for="book-on-sale-date">ReleaseDate:</label>
            <input type="text" id="book-on-sale-date" name="book-on-sale-date" value="{{onSaleDate}}">
        </div>
        <div class="book-edit-single-info">
            <label for="book-user-comment">Comment:</label>
            <textarea  id="book-user-comment" name="book-user-comment" rows="4" cols=""> {{comment}}</textarea>
        </div>

        <button type="button" class="save-edit-btn" onclick="updateData({{workId}})">Save</button>
        <span class="btn-separator"></span>
        <button type="button" class="discard-edit-btn" onclick="discardChanges()">Discard</button>
    </fieldset>
</form>
