<script src="{{jsFunc}}"></script>

<h1> Edit the book!</h1>

<form class="book-edit-form" id="book-edit-form" autocomplete="off">
    <fieldset class="book-edit-field">
        <legend>Book Info</legend>
        <div class="book-edit-single-info">
            <label for="book-title">Book:</label>
            <input type="text" id="book-title" name="book-title" value="{{titleBook}}">
        </div>
        <div class="book-edit-single-info">
            <label for="book-author">Author:</label>
            <input type="text" id="book-author" name="book-author" value="{{author}}">
        </div>
        <div class="book-edit-single-info">
            <label for="book-on-sale-date">ReleaseDate:</label>
            <input type="text" id="book-on-sale-date" name="book-on-sale-date" value="{{onSaleDate}}">
        </div>
        <div class="book-edit-single-info">
            <label for="book-user-comment">Comment:</label>
            <textarea  id="book-user-comment" name="book-user-comment" rows="5" cols="40"> {{comment}}</textarea>
        </div>

        <button type="button" onclick="updateData({{workId}})">Update</button>
        <a><button type="button" onclick="discardChanges()">Discard</button></a>
    </fieldset>
</form>
