<script src="{{jsFunc}}"></script>


{{> header}}

<h1>FAVOURITE BOOKS</h1>

<section class="fav-books">
    {{#each favBooks}}
        <article class="my-fav-book" id="my-fav-book-{{workId}}">
            <p class="book-title-author"> {{title}} <span> by </span> {{author}} </p>
            <p class="extra-book-info"><strong>WorkId: </strong>  {{workId}} <span></span> <strong>Release Date: </strong> {{onSaleDate}}</p>

            <a href="favourites/edit/{{workId}}"><button class="edit-fav-book">Edit</button></a>
            <span class="btn-separator"></span>
            <button class="delete-fav-book"onclick="deleteBook({{workId}})">Delete</button>
        </article>

    {{/each}}
</section>

{{> footer}}
